{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<script type="text/javascript" src="./static/jscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.1/fabric.min.js"></script>
<div class="container-fluid">
     <div class="row flex-nowrap">
    <!-- Left Nav Bar -->
     <div class="col-auto col-md-3 col-xl-1 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <i class="bi bi-radioactive"></i> <span class="fs-5 d-none d-sm-inline">AutoRad</span>
            </a>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0">
                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                    </a>
                </li>

            </ul>
            <hr>
            <div class="dropdown pb-4">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1">loser</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>

        <!-- Main content -->
        <main role="main" class="col-md-9 col-xl-11 ml-sm-auto px-4">
            <!-- Module Titles -->
            <div class="row mb-4 align-items-center">
                <div class="col-md-8">
                    <h6 class="display-12">Anatomical Segmentation</h6>
                </div>
                <div class="col-md-4">
                    <h6 class="display-12">Severity Assessment</h6>
                </div>
                <hr class="my-2">
            </div>


        <!-- Row for Image Placeholders and Severity Assessment Dropdowns -->
            <div class="row">
                <!-- Column for Image Placeholders -->
                <div class="col-md-8">
                    <div class="row">
                        <!-- Image Placeholder 1 -->
                        <div class="col-md-6 mb-3">
                            <div class="border rounded d-flex justify-content-center align-items-center" style="height: 320px; width: auto;">
                                <img id="imagePlaceholder1" class="border rounded" style="height: 320px;">
                            </div>
                        </div>

                        <!-- Image Placeholder 2 -->
                        {% comment %} <div class="col-md-6 mb-3">
                            <div class="border rounded d-flex justify-content-center align-items-center" style="height: 320px; width: auto;">
                                <img id="imagePlaceholder2" class="border rounded" style="height: 320px;">
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <!-- Divider -->
                    <hr class="my-2">
                    <!-- Upload Button -->
                    <div class="row">
                        <div class="col-md-12">
                            <form id="imageForm" action="/upload-path/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-2">
                                    <input type="file" name="image" accept="image/*" class="form-control" id="imageUpload" onchange="handleImageUpload()">
                                </div>
                                <div>
                                    <button type="button" id="submitImage" class="btn btn-primary" onclick="uploadImage()">1.Submit</button>
                                    <button type="button" id="editImage" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-secondary" onclick="overlayImage()">2.Edit</button>
                                    <button type="button" id="processImage" class="btn btn-secondary" onclick="addBKGtoCanvas()">3.Overlay</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <div class="annotation-canvas">
                                            <canvas id="annotation-canvas1" style="border: 1px solid #cccccc;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <div class="annotation-canvas">
                                            <canvas id="annotation-canvas2" style="border: 1px solid #cccccc;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Send message</button>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Column for Severity Assessment Dropdowns -->
                <div class="col-md-4">

                    <!-- Stenosis Severity -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text fixed-width-label" for="stenosisSeverity">Stenosis Severity</label>
                        </div>
                        <select class="form-select small-font" id="stenosisSeverity">
                            <option selected>None</option>
                            <option value="1">Mild</option>
                            <option value="2">Moderate</option>
                            <option value="3">Severe</option>
                        </select>
                    </div>

                    <!-- Dural/Thecal Sac Compression -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text fixed-width-label" for="duralSacCompression">Dural/Thecal Sac Compression</label>
                        </div>
                        <select class="form-select small-font" id="duralSacCompression">
                            <option selected>None</option>
                            <option value="1">Mild</option>
                            <option value="2">Moderate</option>
                            <option value="3">Severe</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text fixed-width-label" for="foraminalStenosis">Foraminal Stenosis</label>
                        </div>
                        <select class="form-select small-font" id="foraminalStenosis">
                            <option selected>None</option>
                            <option value="1">Mild</option>
                            <option value="2">Moderate</option>
                            <option value="3">Severe</option>
                        </select>
                    </div>

                    <!-- Dural/Thecal Sac Compression -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text fixed-width-label" for="discHerniation">Disc Herniation Severity</label>
                        </div>
                        <select class="form-select small-font" id="discHerniation">
                            <option selected>None</option>
                            <option value="1">Protrusion</option>
                            <option value="2">Extrusion</option>
                            <option value="3">Sequestration</option>
                            <option value="4">Bulge</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text fixed-width-label" for="discHerniationType">Disc Herniation Type</label>
                        </div>
                        <select class="form-select small-font" id="discHerniationType">
                            <option selected>None</option>
                            <option value="1">Central</option>
                            <option value="2">Left</option>
                            <option value="3">Right</option>
                            <option value="4">Bulge</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text fixed-width-label" for="annularTear">Annular Tear</label>
                        </div>
                        <select class="form-select small-font" id="annularTear">
                            <option selected>Absent</option>
                            <option value="1">Present</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text fixed-width-label" for="facetHypertrophy">Facet Hypertrophy</label>
                        </div>
                        <select class="form-select small-font" id="facetHypertrophy">
                            <option selected>Absent</option>
                            <option value="1">Present</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text fixed-width-label" for="facetArthropathy">Facet Arthropathy</label>
                        </div>
                        <select class="form-select small-font" id="facetArthropathy">
                            <option selected>Absent</option>
                            <option value="1">Present</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text fixed-width-label" for="ligamentumFlavumHypertrophy">Ligamentum Flavum Hypertrophy</label>
                        </div>
                        <select class="form-select small-font" id="ligamentumFlavumHypertrophy">
                            <option selected>Absent</option>
                            <option value="1">Present</option>
                        </select>
                    </div>

                </div>

            </div>

        <!-- image manipulation -->
            <div class = "row">
                <!-- Column for original image -->
                <div class="col-md-8">
                    <div class="col-md-6 col-md-3 col-md-2 mb-3 imageCanvas">
                        
                        <div class="border rounded d-flex justify-content-center align-items-center" style="height: 320px; width: auto;" hidden="hidden">
                            <img id="imageOrigin" class="border rounded" style="height: 320px;">                                                      
                            <img id="imageIVD" class="border rounded imageOverlay" style="height: 320px;" hidden="hidden">
                            <img id="imagePE" class="border rounded imageOverlay" style="height: 320px;" hidden="hidden">
                            <img id="imageTS" class="border rounded imageOverlay" style="height:320px;" hidden="hidden">
                            <img id="imageAAP" class="border rounded imageOverlay" style="height: 320px;" hidden="hidden">
                        </div>
                        <!-- Test for fabric -->
                        <div class="col-md-8">
                            <div class="border rounded d-flex justify-content-center align-items-center" style="height: 640px; width: auto;">
                                <canvas id="canvas_1" width="640" height="640" style="border:1px solid #ccc"></canvas>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <!-- Column for check box and other button-->
                <div class="col-md-4">
                    <div class="input-group mb-3" style="display: inline-block; padding: 0 10px; margin-top: .5em; margin-left: 10px; margin-right: -5px;">
                        <p>
                            <input type="checkbox" name="typeCheck" id="check-ivd" onclick="onlyOneV2(this)" value="IVD">IVD</input>
                            <input type="checkbox" name="typeCheck" id="check-pe" onclick="onlyOneV2(this)" value="PE">PE</input>                        
                            <input type="checkbox" name="typeCheck" id="check-ts" onclick="onlyOneV2(this)" value="TS">TS</input>
                            <input type="checkbox" name="typeCheck" id="check-aap" onclick="onlyOneV2(this)" value="AAP">AAP</input>
                        </p>
                        <p>
                            <button type="button" id="resetBtn" class="btn btn-secondary" onclick="resetImg(this.value)" value="">Reset</button>
                            <button type="button" id="saveBtn" class="btn btn-secondary" onclick="saveImg(this.value)" value="">Save</button>
                        </p>
                        <div class="col-md-4" style="display: inline-block; padding: 0 10px; margin-top: .5em; margin-left: 10px; margin-right: -5px; ">
                            <p>
                                <label>
                                    <span>Angle:</span>
                                    <input type="range" id="angle-control" value="0" min="0" max="0">
                                </label>
                            </p>
                            <p>
                                <label>
                                    <span>Left:</span>
                                    <input type="range" id="left-control" value="0" min="0" max="640">
                                </label>
                            </p>
                            <p>
                                <label>
                                    <span>Top:</span>
                                    <input type="range" id="top-control" value="0" min="0" max="640">
                                </label>
                            </p>
                            <p>
                                <label>
                                    <span>ScaleX:</span>
                                    <input type="range" id="scaleX-control" value="1" min="0.1" max="2">
                                </label>
                            </p>
                            <p>
                                <label>
                                    <span>ScaleY:</span>
                                    <input type="range" id="scaleY-control" value="1" min="0.1" max="2">
                                </label>
                            </p>
                            {% comment %} <p>
                                <label>
                                    <span>board color:</span>
                                    <input type="color" id="boardcolor" style="display: block">
                                </label>
                            </p>
                            <p>
                                <label>
                                    <span>corner color:</span>
                                    <input type="color" id="cornercolor" style="display: block">
                                </label>
                            </p> {% endcomment %}
                        </div>                        
                    </div>
                    {% comment %} <div class="input-group mb-3">
                        <div class="col-md-2">                    
                            <input type="checkbox" name="typeCheck" onclick="onlyOne(this)" value="IVD">IVD</input>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="resetBtnIVD" class="btn btn-secondary" onclick="resetBtn(this)" value="IVD" disabled>Reset</button>
                            <button type="button" id="hideBtnIVD" class="btn btn-secondary" onclick="show(this)" value="IVD" disabled>Show</button>
                            <button type="button" id="resetPosIVD" class="btn btn-secondary" onclick="hide(this)" value="IVD" disabled>Hide</button>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col-md-2">                    
                            <input type="checkbox" name="typeCheck" onclick="onlyOne(this)" value="PE">PE</input>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="resetBtnPE" class="btn btn-secondary" onclick="resetBtn(this)" value="PE" disabled>Reset</button>
                            <button type="button" id="hideBtnPE" class="btn btn-secondary" onclick="show(this)" value="PE" disabled>Show</button>
                            <button type="button" id="resetPosPE" class="btn btn-secondary" onclick="hide(this)" value="PE" disabled>Hide</button>
                        </div>
                    </div>
                    <div class="input-group mb-3">                    
                        <div class="col-md-2">                    
                            <input type="checkbox" name="typeCheck" onclick="onlyOne(this)" value="TS">TS</input>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="resetBtnTS" class="btn btn-secondary" onclick="resetBtn('this')" value="TS" disabled>Reset</button>
                            <button type="button" id="hideBtnTS" class="btn btn-secondary" onclick="show(this)" value="TS" disabled>Show</button>
                            <button type="button" id="resetPosTS" class="btn btn-secondary" onclick="hide(this)" value="TS" disabled>Hide</button>
                        </div>
                    </div>
                    <div class="input-group mb-3">                    
                        <div class="col-md-2">                    
                            <input type="checkbox" name="typeCheck" onclick="onlyOne(this)" value="AAP">AAP</input>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="resetBtnAAP" class="btn btn-secondary" onclick="resetBtn(this)" value="AAP" disabled>Reset</button>
                            <button type="button" id="hideBtnAAP" class="btn btn-secondary" onclick="show(this)" value="AAP" disabled>Show</button>
                            <button type="button" id="resetPosAAP" class="btn btn-secondary" onclick="hide(this)" value="AAP" disabled>Hide</button>
                        </div>
                    </div> {% endcomment %}
                </div>                
            </div>
            <script>

                // Initially disable submit button
                document.getElementById('submitImage').disabled = true;
                // Initially disable edit button
                document.getElementById('editImage').disabled = true;

                var canvas = this.__canvas = new fabric.Canvas('canvas_1');
                canvas.backgroundColor = 'grey';
                
                // Zoom in/out function
                canvas.on('mouse:wheel', function(opt) {
                    var delta = opt.e.deltaY;
                    var zoom = canvas.getZoom();
                    zoom *= 0.999 ** delta;
                    if (zoom > 20) zoom = 20;
                    if (zoom < 0.01) zoom = 0.01;
                    //canvas.zoomToPoint({ x: opt.e.offsetX, y: opt.e.offsetY }, zoom);
                    canvas.zoomToPoint(new fabric.Point(canvas.width / 2, canvas.height / 2), zoom);
                    opt.e.preventDefault();
                    opt.e.stopPropagation();
                });

                fabric.Object.prototype.transparentCorners = false;
                fabric.Object.prototype.centeredScaling = true;
                fabric.Object.prototype.cornerColor = 'green';
                fabric.Object.prototype.borderColor = 'red';
                fabric.Object.prototype.cornerStyle = 'circle';
                canvas.preserveObjectStacking = true;

                function addBKGtoCanvas() {
                    var imageOrigin = document.getElementById("imagePlaceholder1")
                    var imageBKG = new fabric.Image(imageOrigin,
                    {
                        left:0,
                        top:0,
                        opacity:1
                    })
                    imageBKG.scaleToHeight(canvas.height)
                    canvas.setBackgroundImage(imageBKG,canvas.renderAll.bind(canvas))

                    /*
                    var filter = new fabric.Image.filters.Invert();

                    ["IVD","PE","TS","AAP"].forEach((item) => {
                        var tempImg = new fabric.Image(document.getElementById("image" + item),{left:0,top:0,opacity:0,cacheKey:item})
                        tempImg.scaleToHeight(canvas.height)
                        tempImg.filters.push(filter);
                        canvas.add(tempImg)
                        canvas.setActiveObject(tempImg);
                    })
                    */
                    canvas.renderAll()
                }

                function showImg(btnValue) {
                    if (btnValue=="") {
                        console.log("Reset button with empty value")
                        return
                    }
                    var tempImgParms = []
                    var tempImgSrc = ""
                    if (btnValue=="IVD") {
                        tempImgParms = imgsParmsHolders[0]
                        tempImgSrc = globalMaskClassPaths[0]
                    }
                    if (btnValue=="PE") {
                        tempImgParms = imgsParmsHolders[1]
                        tempImgSrc = globalMaskClassPaths[1]
                    }
                    if (btnValue=="TS") {
                        tempImgParms = imgsParmsHolders[2]
                        tempImgSrc = globalMaskClassPaths[2]
                    }
                    if (btnValue=="AAP") {
                        tempImgParms = imgsParmsHolders[3]
                        tempImgSrc = globalMaskClassPaths[3]
                    }

                    console.log(btnValue)
                    console.log(tempImgParms)
                    console.log(tempImgSrc)

                    var tempImg = new fabric.Image(document.getElementById("image" + btnValue),
                        {   
                            angle:tempImgParms[0],
                            left:tempImgParms[1],
                            top:tempImgParms[2],
                            scaleX:tempImgParms[3],
                            scaleY:tempImgParms[4],
                            opacity:0.5,
                            cacheKey:btnValue
                        })
                    var filter = new fabric.Image.filters.Invert();
                    //tempImg.scaleToHeight(canvas.height)
                    tempImg.filters.push(filter);
                    canvas.add(tempImg)
                    canvas.setActiveObject(tempImg);
                    canvas.renderAll()
                }

                //remove canvas' image
                function removeImg(btnValue) {
                    var tempImg = canvas.item(0)
                    canvas.remove(tempImg)
                    canvas.renderAll()
                }                    

                // reset image position
                function resetImg(btnValue) {
                    if (btnValue=="") {
                        console.log("Reset button with empty value")
                        canvas.renderAll()
                        return
                    }
                    if (btnValue=="IVD") {
                        imgsParmsHolders[0]=[0,0,0,2,2]
                        console.log(imgsParmsHolders[0])
                        canvas.renderAll()
                        return
                    }
                    if (btnValue=="PE") {
                        imgsParmsHolders[1]=[0,0,0,2,2]
                        console.log(imgsParmsHolders[1])
                        canvas.renderAll()
                        return
                    }
                    if (btnValue=="TS") {
                        imgsParmsHolders[2]=[0,0,0,2,2]
                        console.log(imgsParmsHolders[2])
                        canvas.renderAll()
                        return
                    }
                    if (btnValue=="AAP") {
                        imgsParmsHolders[3]=[0,0,0,2,2]
                        console.log(imgsParmsHolders[3])
                        canvas.renderAll()
                        return
                    }
                }

                // Save image position and angle
                function saveImg(btnValue) {
                    if (btnValue=="") {
                        console.log("Save button with empty value")
                        return
                    }
                    var tempImg = canvas.item(0)
                    var val = tempImg.cacheKey
                    var imgParms = [tempImg.angle,tempImg.left,tempImg.top,tempImg.scaleX,tempImg.scaleY]
                    if (val=="IVD") imgsParmsHolders[0]=imgParms
                    if (val=="PE") imgsParmsHolders[1]=imgParms
                    if (val=="TS") imgsParmsHolders[2]=imgParms
                    if (val=="AAP") imgsParmsHolders[3]=imgParms
                    console.log(imgParms)
                }

                function saveImgV2(btnValue) {
                    if (btnValue=="") {
                        console.log("Save button with empty value")
                        return
                    }
                    var imgAngle = document.getElementById("angle-control").value
                    var imgLeft = document.getElementById("left-control").value
                    var imgTop = document.getElementById("top-control").value
                    var imgScaleX = document.getElementById("scaleX-control").value
                    var imgScaleY = document.getElementById("scaleY-control").value

                    if (btnValue=="IVD") {
                        imgsParmsHolders[0]=[imgAngle,imgLeft,imgTop,imgScale]
                        console.log(imgsParmsHolders[0])
                        return
                    }
                    if (btnValue=="PE") {
                        imgsParmsHolders[1]=[imgAngle,imgLeft,imgTop,imgScale]
                        console.log(imgsParmsHolders[1])
                        return
                    }
                    if (btnValue=="TS") {
                        imgsParmsHolders[2]=[imgAngle,imgLeft,imgTop,imgScale]
                        console.log(imgsParmsHolders[2])
                        return
                    }
                    if (btnValue=="AAP") {
                        imgsParmsHolders[3]=[imgAngle,imgLeft,imgTop,imgScale]
                        console.log(imgsParmsHolders[3])
                        return
                    }
                }

                /*
                function show(btn) {
                    var keyValue = btn.value
                    var objs = canvas._objects
                    objs.forEach((obj)=>{
                        //console.log("obj is " + obj.cacheKey)
                        if (obj.cacheKey==keyValue) {
                            obj.set({opacity:0.5})
                            canvas.bringToFront(obj)
                            console.log("Bring " + obj.cacheKey + " to front!")
                        } else {
                            obj.set({opacity:0})
                            canvas.sendBackwards(obj)
                            console.log("Send " + obj.cacheKey + " to back!")
                        }
                    })
                    canvas.renderAll()
                }

                function hide(btn) {
                    var keyValue = btn.value
                    var objs = canvas._objects
                    objs.forEach((obj)=>{
                        if (obj.cacheKey==keyValue) {
                            obj.set({opacity:0})
                        }
                    })
                    canvas.renderAll()
                }
                */
            </script>
        </main>
    </div>
</div>

{% endblock %}
